i.rTeam,i.gTeam,i.bTeam{
    font-size: 3em;
    
}
i.rTeam{
    color: red;
}
.col-sm-3{
    border-style: solid;
    padding: 1em;
}
i.gTeam{
    color:green;
}
i.bTeam{
    color:blue;
}
span#nav-titl{
    text-align: center;
    font-size: x-large;
}
main{
    margin-top: 1em;
}
